
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-call:before { content: '\e801'; } /* '' */
.icon-twitter-circled-1:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-gmail:before { content: '\e804'; } /* '' */
.icon-mail-circled:before { content: '\e805'; } /* '' */
.icon-mail-1:before { content: '\e806'; } /* '' */
.icon-menu-outline:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-menu-1:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-volume-up:before { content: '\e80b'; } /* '' */
.icon-zoom-in:before { content: '\e80c'; } /* '' */
.icon-zoom-out:before { content: '\e80d'; } /* '' */
.icon-up-circled2:before { content: '\e80e'; } /* '' */
.icon-down-circled2:before { content: '\e80f'; } /* '' */
.icon-down-thin:before { content: '\e810'; } /* '' */
.icon-up-thin:before { content: '\e811'; } /* '' */
.icon-chart-bar:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-search-1:before { content: '\e814'; } /* '' */
.icon-search-circled:before { content: '\e815'; } /* '' */
.icon-search-2:before { content: '\e816'; } /* '' */
.icon-home-outline:before { content: '\e817'; } /* '' */
.icon-note:before { content: '\e818'; } /* '' */
.icon-music:before { content: '\e819'; } /* '' */
.icon-doc:before { content: '\e81a'; } /* '' */
.icon-trash-empty:before { content: '\e81b'; } /* '' */
.icon-thumbs-up:before { content: '\e81c'; } /* '' */
.icon-camera:before { content: '\e81d'; } /* '' */
.icon-picture:before { content: '\e81e'; } /* '' */
.icon-credit-card:before { content: '\e81f'; } /* '' */
.icon-newspaper:before { content: '\e820'; } /* '' */
.icon-book-open:before { content: '\e821'; } /* '' */
.icon-user:before { content: '\e822'; } /* '' */
.icon-mail-2:before { content: '\e823'; } /* '' */
.icon-heart:before { content: '\e824'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-user-1:before { content: '\f061'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
